---
title: My awesome website
---

<div class="row">
  <h1>
    Products
  </h1>
</div>

<div class="row">



<div class="product-wrapper">
  <% data.contentful.product.each do |elem| %>
      <% p = elem[1] %>
  <div class="product-tile">
    <a href="<%= 'products/#{p.slug}.html' %>">
      <div class="overlay"></div>
      <div class="button">
        view
      </div>
      <div class="inner-wrap">
        <% p.image.each do |image| -%>
            <%= image_tag(image.url, :alt => image.title) %>
        <% end -%>
        <div class="product-meta">
          <span class="product-title">
            <%= p.productName %>
          </span>
          <span class="product-price"><%= number_to_currency(p.price, :unit => "$") %></span>
        </div>
      </div>
    </a>
  </div>
  <% end %>
</div>

</div>

