---
title: product.name
---

<div class="row text-center column">
    <h1>
      <%= product.name %>
    </h1>
</div>

<div class="row">
  <div class="large-6 small-12 columns text-center">
    <%= image_tag product.image, class: "thumbnail" %>
    <br />


  </div>

  <div class="large-6 small-12 columns">
    <p>
      <%= product.description %>
    </p>
  </div>
</div>


